@model ProjektPrototyp.Uczelnia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Uczelnia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adres.miejscowosc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres.miejscowosc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_uczelni }) |
    @Html.ActionLink("Back to List", "Index")
</p>
