@model ProjektPrototyp.Kierunek

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kierunek</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uczelnia.nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uczelnia.nazwa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_kierunku }) |
    @Html.ActionLink("Back to List", "Index")
</p>
